{% extends "base.html" %}
{% block title %}Counters{% endblock %}
{% block head %}
    <title>Counter Finder</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center">
        <h2>Enter Champion Name</h2>
        <p class="lead">This will display your best matchups into your enemy laner</p>
    </div>
    <form action="/counters" method="POST">
        <div class="form-group">
            <label for="enemy_lane">Enemy Lane</label>
            <input
              type="text"
              class="form-control"
              id="enemy_lane"
              name="enemy_lane"
              placeholder="Enter Enemy Laner Here"
            />
        </div>
    </form>
    {% for champ in winrates %}
    <li class="list-group-item">
        {{ champ + "Winrate: " + winrates[champ]|string + " Wins: " + counter_list[champ].wins|string + "Losses: " + counter_list[champ].losses|string }}
    </li>
    {% endfor %}
    <img src="http://ddragon.leagueoflegends.com/cdn/10.18.1/img/profileicon/24.png" />
</div>
{% endblock %}