{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Welcome to leaguecounters.gg</h1>
<ul class="list-group list-group-flush" id="summoners">
    <div class="container">
        {% for summoner in user.summoners %}
            <div class="row" style="border-top:1px solid black;">
                <div class="col">
                    <li class="list-group-item">
                        {{ summoner.summoner_name }}
                    </li>
                </div>
                <div class="col-3">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <form method="POST">
                                    <input type="hidden" value="{{summoner.puuid}}" name="load" class="form-control input-sm">
                                    <input type="Submit" value="Load" class="form-control input-sm"/>
                                </form>                            
                            </div>
                            <div class="col">
                                <form method="POST">
                                    <input type="hidden" value="{{summoner.puuid}}" name="delete-id" class="form-control input-sm">
                                    <input type="Submit" value="Delete" class="form-control input-sm"/>
                                </form>
                            </div>
                        </div>                        
                    </div>                      
                </div>
            </div>
        {% endfor %}
    </div>
</ul>
{% endblock %}