{% extends "base.html" %}
{% block title %}Update{% endblock %}
{% block head %}
    <title>Test title</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="text-center">
            <h2>Enter Champion Name</h2>
            <p class="lead">This will add summoner puuid, summoner name, and summoner level to the database</p>
        </div>
        <form action="/update" method="POST">
            <div class="form-group">
                <label for="summoner">Summoner Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="summoner"
                  name="summoner"
                  placeholder="Enter Summoner Name Here"
                />
            </div>
        </form>
    </div>
{% endblock %}